{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Static Navigation - SB Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Admin</a>


            <!-- Sidebar Toggle-->
<!--            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>-->
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
<!--                        <li><a class="dropdown-item" href="#!">Settings</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>-->
<!--                        <li><hr class="dropdown-divider" /></li>-->
<!--                            <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="/preLogin">Logout</a></li>-->
<!--                          </ul>-->
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModal">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE876;</i>
                                        </div>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h4>Great!</h4>
                                        <p>You have been logged out successfully.</p>
                                        <a href="/preLogin"><button class="btn btn-success" data-dismiss="modal"><span>Bring Me Back To Home</span> <i class="material-icons">&#xE5C8;</i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>


<!--                            KEITH PART DO NOT TOUCH IF NOT YOURS       -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                                Account Management
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/retrieveUsers">Account Creation</a>
                                    <a class="nav-link" href="/line">User Data</a>
                                </nav>
                            </div>
<!--                            KEITH PART DO NOT TOUCH IF NOT YOURS       -->



<!--                            JINGHUI PART DO NOT TOUCH IF NOT YOURS       -->
                           <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsOrder" aria-expanded="false" aria-controls="collapseLayoutsOrder">
                                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                                Sales
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayoutsOrder" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/createSales">Create sales</a>
                                    <a class="nav-link" href="/viewSales">View sales</a>
                                </nav>
                            </div>
<!--                            JINGHUI PART DO NOT TOUCH IF NOT YOURS       -->



<!--                            JIA LE PART DO NOT TOUCH IF NOT YOURS       -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePagesProduct" aria-expanded="false" aria-controls="collapsePagesProduct">
                                <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                                Products & Inventory Management
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePagesProduct" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPage">
                                    <div class="collapse" id="pagesCollapseReward" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPage">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/createA">Create Product</a>
                                            <a class="nav-link" href="/viewA">View Product</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseErrorProduct" aria-expanded="false" aria-controls="pagesCollapseErrorProduct">
                                        Products
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseErrorProduct" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/create">Create Products</a>
                                            <a class="nav-link" href="/view">View Products</a>
                                        </nav>
                                    </div>


<!--                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapse" aria-expanded="false" aria-controls="pagesCollapse ">-->
<!--                                        New Page-->
<!--                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="pagesCollapse" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                                            <a class="nav-link" href="edit_target_here">New Page</a>-->
<!--                                            <a class="nav-link" href="edit_target_here">New Page</a>-->
<!--                                        </nav>-->
<!--                                    </div>-->
                                </nav>
                            </div>
<!--                            JIA LE PART DO NOT TOUCH IF NOT YOURS       -->



<!--                            JERELL PART DO NOT TOUCH IF NOT YOURS       -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePagesRewards" aria-expanded="false" aria-controls="collapsePagesRewards">
                                <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                                Feedback & Rewards
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePagesRewards" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionReward">

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseRewardTwo" aria-expanded="false" aria-controls="pagesCollapseRewardTwo">
                                        Standard Rewards
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseRewardTwo" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/create">Create Rewards</a>
                                            <a class="nav-link" href="/view">View Rewards</a>
                                        </nav>
                                    </div>


                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapses" aria-expanded="false" aria-controls="pagesCollapses ">
                                        Special Rewards
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapses" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="edit_target_here">Create Special</a>
                                            <a class="nav-link" href="edit_target_here">View Special</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapsesOne" aria-expanded="false" aria-controls="pagesCollapsesOne ">
                                        Promo Code
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapsesOne" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="edit_target_here">Create Promo Code</a>
                                            <a class="nav-link" href="edit_target_here">View Promo Code</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapsesFeedback" aria-expanded="false" aria-controls="pagesCollapsesFeedback ">
                                        FeedBack
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapsesFeedback" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="edit_target_here">Create Feedback</a>
                                            <a class="nav-link" href="edit_target_here">View Feedback</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapsesFeedbackone" aria-expanded="false" aria-controls="pagesCollapsesFeedbackone ">
                                        Survey
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapsesFeedbackone" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="edit_target_here">Create Survey</a>
                                            <a class="nav-link" href="edit_target_here">View Survey</a>
                                        </nav>
                                    </div>

<!--                            JERELL PART DO NOT TOUCH IF NOT YOURS       -->
                                </nav>
                                </div>
                        <div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin
                    </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4" style="margin-bottom:230px;">
                        <h1 class="mt-4">Static Navigation</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    Template for minimart webfront assignment
                                </p>
                            </div>
                        </div>
                        <div style="height: 100vh">
{% from "includes/_formHelper.html" import render_field %}
<div>
  <h2>Update User</h2>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.unit_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.postal_code, class="form-control") }}
  </div>

<!--  read the init.py under update user to find out-->

    <br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
                        </div>
<!--                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div>-->
<!--                    </div>-->
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4" >
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script type=text/javascript src="{{
  url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script type=text/javascript src="{{
  url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
        <script type=text/javascript src="{{
  url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    </body>
</html>


{% endblock %}









