{% extends "includes/_navbar.html" %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/star.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/yes_no_view.css') }}">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="q1_tab" data-bs-toggle="tab" data-bs-target="#q1" type="button" role="tab" aria-controls="q1" aria-selected="true">Star Rating</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="q2_tab" data-bs-toggle="tab" data-bs-target="#q2" type="button" role="tab" aria-controls="q2" aria-selected="false">Open-Ended</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="q3_tab" data-bs-toggle="tab" data-bs-target="#q3" type="button" role="tab" aria-controls="q3" aria-selected="false">Open-Ended</button>
  </li>
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="q4_tab" data-bs-toggle="tab" data-bs-target="#q4" type="button" role="tab" aria-controls="q4" aria-selected="false">Yes/No</button>
  </li>
   <li class="nav-item" role="presentation">
    <button class="nav-link" id="q5_tab" data-bs-toggle="tab" data-bs-target="#q5" type="button" role="tab" aria-controls="q5" aria-selected="false">Products Dropdown List</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="q1" role="tabpanel" aria-labelledby="q1_tab"><form method="POST">
  <div class="form-group">
    <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
      <h2>Question</h2>
    <table class="table table-striped">
      <tbody>
    {% for i in feedback_list %}
    <tr>
      <td>{{ i.get_q1() }}</td>
      <td><li class="list-inline-item">
        <a  href="/updateFeedback/{{i.get_feedback_id()}}" >
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit"></i></button>
        </a></li></td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </form>
  </div>
  <div class="tab-pane fade" id="q2" role="tabpanel" aria-labelledby="q2_tab"><form method="POST">
  <div class="form-group">
    <br>
    <div class="open_ended">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>An example of text in textarea.</textarea>
</div>
    <br>
      <h2>Question</h2>
    <table class="table table-striped">
      <tbody>
    {% for i in feedback_list %}
    <tr>
      <td>{{ i.get_q2() }}</td>
      <td><li class="list-inline-item">
        <a  href="/updateFeedback/{{i.get_feedback_id()}}" >
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit"></i></button>
        </a></li></td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
    <br>
  </form></div>
  <div class="tab-pane fade" id="q3" role="tabpanel" aria-labelledby="q3_tab"><form method="POST">
  <div class="form-group">
    <br>
    <div class="open_ended">
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" readonly>An example of text in textarea.</textarea>
</div>
    <br>
      <h2>Question</h2>
     <table class="table table-striped">
      <tbody>
    {% for i in feedback_list %}
    <tr>
      <td>{{ i.get_q3() }}</td>
      <td><li class="list-inline-item">
        <a  href="/updateFeedback/{{i.get_feedback_id()}}" >
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit"></i></button>
        </a></li></td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
    <br>
  </form></div>
  <div class="tab-pane fade" id="q4" role="tabpanel" aria-labelledby="q4_tab"><form method="POST">
  <div class="form-group_1">
    <div class="yes/no">
  <input type="radio" name="rdo" id="yes" checked>
  <input type="radio" name="rdo" id="no">
    <div class="switch">
      <label for="yes">Yes</label>
      <label for="no">No</label>
      <span></span>
    </div>
    </div>
    <br><br><br><br>
      <h2>Question</h2>
    <table class="table table-striped">
      <tbody>
    {% for i in feedback_list %}
    <tr>
      <td>{{ i.get_q4() }}</td>
      <td><li class="list-inline-item">
        <a  href="/updateFeedback/{{i.get_feedback_id()}}" >
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit"></i></button>
        </a></li></td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </form></div>
  <div class="tab-pane fade" id="q5" role="tabpanel" aria-labelledby="q5_tab"><form method="POST">
  <div class="form-group">
    <br>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown List
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Product 1</a>
    <a class="dropdown-item" href="#">Product 2</a>
    <a class="dropdown-item" href="#">Product 3</a>
  </div>
</div>
    <br>
      <h2>Question</h2>
    <table class="table table-striped">
      <tbody>
    {% for i in feedback_list %}
    <tr>
      <td>{{ i.get_q5() }}</td>
      <td><li class="list-inline-item">
        <a  href="/updateFeedback/{{i.get_feedback_id()}}" >
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit"></i></button>
        </a></li></td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
  </form></div>
</div>

{% endblock %}
